<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
</head>
<body>
<H6>
    <th:block sec:authorize="!isAuthenticated()">
        <a th:text="#{comm.login}" th:href="@{/login}"></a>
        <a th:text="#{comm.login.naver}" th:href="@{/login/naver}"></a>
        <a th:text="#{comm.login.google}" th:href="@{/login/google}"></a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">

        <th:block th:text="#{comm.name}"/> : <span sec:authentication="name"></span> |
        <th:block th:text="#{comm.authority}"/> : <span sec:authentication="principal.authorities"></span> |
        <a th:text="#{comm.logout}" th:href="@{/logout}"></a>
    </th:block>
</H6>

<H2 th:text="#{main.title}"></H2>
<H3 th:text="#{main.subtitle}"></H3>

<div sec:authorize="isAuthenticated()">
    <br/><br/>
    <ul>
        <li>
            <a href="/main/admin">More than admin</a> <br/>
        </li>
        <li>
            <a href="/main/writer">Only writer</a>
        </li>
    </ul>
</div>
</body>
</html>